
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.clearfix:before,
.zh-menu-header:before,
.clearfix:after,
.zh-menu-header:after {
  content: " ";
  display: table;
}
.clearfix:after,
.zh-menu-header:after {
  clear: both;
}
@-webkit-keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
    -ms-filter: none;
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
  }
  25%, 75% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-filter: alpha(opacity=0);
    -moz-filter: alpha(opacity=0);
    filter: alpha(opacity=0);
  }
}
.zh-fx-flash {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  -ms-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-name: flash;
  -moz-animation-name: flash;
  -o-animation-name: flash;
  -ms-animation-name: flash;
  animation-name: flash;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay: 0;
  -ms-animation-delay: 0;
  animation-delay: 0;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  -ms-animation-direction: alternate;
  animation-direction: alternate;
}
.zh-fx-spin {
  -webkit-animation: rotatorInfinite 0.5s 0s infinite ease-out;
  -moz-animation: rotatorInfinite 0.5s 0s infinite ease-out;
  -o-animation: rotatorInfinite 0.5s 0s infinite ease-out;
  -ms-animation: rotatorInfinite 0.5s 0s infinite ease-out;
  animation: rotatorInfinite 0.5s 0s infinite ease-out;
}
@-moz-keyframes rotatorInfinite {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes rotatorInfinite {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-o-keyframes rotatorInfinite {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes rotatorInfinite {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
.zh-form-control,
.zh-form-control-small {
  padding: 8px;
  font-size: 13px;
  background: #fafafa;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 1px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
}
.zh-form-control:focus,
.zh-form-control-small:focus {
  border-color: #51a7e8;
  -webkit-box-shadow: initial;
  box-shadow: initial;
  background: #fff;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.075), 0 0 5px rgba(81,167,232,0.5);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.075), 0 0 5px rgba(81,167,232,0.5);
}
.zh-form-control-small {
  padding: 4px 8px;
}
.zh-icon-copy-package {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: 100%;
  vertical-align: -13%;
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/icons/copy.svg");
}
.zh-icon-copy-close-package {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: 100%;
  vertical-align: -13%;
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/icons/copyclose.svg");
}
.zh-octicon {
  font: normal normal normal 16px/1 octicons;
  display: inline-block;
  text-decoration: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.zh-icon-chevron-down-grey {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: 100%;
  vertical-align: -13%;
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/icons/chevron-down-grey.svg");
}
.zh-icon-chevron-down-grey-darker {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: 100%;
  vertical-align: -13%;
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/icons/chevron-down-grey-darker.svg");
}
.zh-octicon-alert {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/octicons/alert.svg");
  background-position: center;
}
.zh-octicon-alert-white {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/octicons/alert-white.svg");
  background-position: center;
}
.zh-octicon-arrow-small-right {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/octicons/arrow-small-right.svg");
  background-position: center;
}
.zh-octicon-check {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/octicons/check.svg");
  background-position: center;
}
.zh-octicon-chevron-down {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/octicons/chevron-down.svg");
  background-position: center;
}
.zh-octicon-file-directory {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/octicons/file-directory.svg");
  background-position: center;
}
.zh-octicon-gear {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/octicons/gear.svg");
  background-position: center;
}
.zh-octicon-git-pull-request {
  display: inline-block;
  width: 14px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/octicons/git-pull-request.svg");
  background-position: center;
}
.zh-octicon-graph {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/octicons/graph.svg");
  background-position: center;
}
.zh-octicon-inbox {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/octicons/inbox.svg");
  background-position: center;
}
.zh-octicon-info {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/octicons/info.svg");
  background-position: center;
}
.zh-octicon-issue-closed {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/octicons/issue-closed.svg");
  background-position: center;
}
.zh-octicon-issue-closed-gray {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/octicons/issue-closed-gray.svg");
  background-position: center;
}
.zh-octicon-issue-closed-red {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/octicons/issue-closed-red.svg");
  background-position: center;
}
.zh-octicon-issue-opened {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/octicons/issue-opened.svg");
  background-position: center;
}
.zh-octicon-comment {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/octicons/comment.svg");
  background-position: center;
}
.zh-octicon-hamburger-menu {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/octicons/hamburger-menu.svg");
  background-position: center;
}
.zh-octicon-issue-opened-grey {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/octicons/issue-opened-grey.svg");
  background-position: center;
}
.zh-octicon-issue-opened-white {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/octicons/issue-opened-white.svg");
  background-position: center;
}
.zh-octicon-issue-opened-green {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/octicons/issue-opened-green.svg");
  background-position: center;
}
.zh-octicon-light-bulb {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/octicons/light-bulb.svg");
  background-position: center;
}
.zh-octicon-link-external {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/octicons/link-external.svg");
  background-position: center;
}
.zh-octicon-link {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/octicons/link.svg");
  background-position: center;
}
.zh-octicon-list-unordered {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/octicons/list-unordered.svg");
  background-position: center;
}
.zh-octicon-mail-reply {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/octicons/mail-reply.svg");
  background-position: center;
}
.zh-octicon-milestone {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/octicons/milestone.svg");
  background-position: center;
}
.zh-octicon-milestone--large {
  width: 3em;
  height: 3em;
}
.zh-octicon-package {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/octicons/package.svg");
  background-position: center;
}
.zh-octicon-package-grey {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/octicons/package-grey.svg");
  background-position: center;
}
.zh-octicon-pencil {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/octicons/pencil.svg");
  background-position: center;
}
.zh-octicon-person {
  display: inline-block;
  width: 8px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/octicons/person.svg");
  background-position: center;
}
.zh-octicon-plus {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/octicons/plus.svg");
  background-position: center;
}
.zh-octicon-repo {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/octicons/repo.svg");
  background-position: center;
}
.zh-octicon-search {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/octicons/search.svg");
  background-position: center;
}
.zh-octicon-tag {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/octicons/tag.svg");
  background-position: center;
}
.zh-octicon-three-bars {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/octicons/three-bars.svg");
  background-position: center;
}
.zh-octicon-trashcan {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/octicons/trashcan.svg");
  background-position: center;
}
.zh-octicon-unfold {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/octicons/unfold.svg");
  background-position: center;
}
.zh-octicon-x {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/octicons/x.svg");
  background-position: center;
}
.zh-octicon-checklist {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/octicons/checklist.svg");
  background-position: center;
}
.zh-octicon-stop-white {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/octicons/stop-white.svg");
  background-position: center;
}
.zh-octicon-grey-light {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  -webkit-filter: alpha(opacity=20);
  -moz-filter: alpha(opacity=20);
  filter: alpha(opacity=20);
}
.zh-octicon-grey-lighter {
  opacity: 0.4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  -webkit-filter: alpha(opacity=40);
  -moz-filter: alpha(opacity=40);
  filter: alpha(opacity=40);
}
.zh-octicon-grey {
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  -webkit-filter: alpha(opacity=60);
  -moz-filter: alpha(opacity=60);
  filter: alpha(opacity=60);
}
.zh-octicon-highlight-hover:hover {
  opacity: 1;
  -ms-filter: none;
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}
.zh-flash,
.zh-flash-info {
  background-color: #e2eef9;
  color: #0d273f;
  border: solid 1px #94b4d1;
  border-radius: 3px;
  padding: 15px;
  margin: 15px 10px;
}
.zh-flash p:first-child,
.zh-flash-info p:first-child {
  margin-top: 0;
}
.zh-flash p:last-child,
.zh-flash-info p:last-child {
  margin-bottom: 0;
}
.zh-flash-warn {
  background-color: #fff9ea;
  color: #4c3700;
  border: solid 1px #d1c094;
  border-radius: 3px;
  padding: 15px;
  margin: 15px 10px;
}
.zh-flash-warn p:first-child {
  margin-top: 0;
}
.zh-flash-warn p:last-child {
  margin-bottom: 0;
}
.zh-flash-error {
  background-color: #fcdede;
  color: #460606;
  border: solid 1px #d19494;
  border-radius: 3px;
  padding: 15px;
  margin: 15px 10px;
}
.zh-flash-error p:first-child {
  margin-top: 0;
}
.zh-flash-error p:last-child {
  margin-bottom: 0;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.left {
  float: left;
}
.right {
  float: right;
}
.cursor-pointer {
  cursor: pointer;
}
.zh-logo {
  color: #1d2329;
  display: inline-block;
  font-size: 1.3em;
  font-weight: bold;
  letter-spacing: -0.7px;
  vertical-align: top;
}
@media only screen and (max-width: 768px) {
  .zh-logo {
    color: #fff;
  }
}
.zh-logo.short {
  background: #3f4d9c;
  color: #fff;
  display: inline-block;
  font-size: 1.3em;
  font-weight: bold;
  padding: 0.4em 0.5em;
  letter-spacing: -0.7px;
}
.zh-logo.short.feature {
  font-size: 1.3em;
  font-weight: bold;
  padding: 0.6em 0.7em;
  letter-spacing: -0.7px;
}
.zh-boxie,
.zh-boxie-modal {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: solid 3px #1d2329 !important;
}
.zh-boxie-modal {
  background: #f4f5f5 !important;
  -webkit-box-shadow: 0 0 3px rgba(29,35,41,0.2) !important;
  box-shadow: 0 0 3px rgba(29,35,41,0.2) !important;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .zh-boxie-modal {
    -webkit-box-shadow: 0 0 6px rgba(29,35,41,0.2) !important;
    box-shadow: 0 0 6px rgba(29,35,41,0.2) !important;
  }
}
.zh-meta {
  font-size: 10px;
  text-transform: uppercase;
  color: #888da5;
  font-weight: 600;
}
.zh-spinner {
  position: relative;
}
.zh-spinner:after {
  font-family: sans-serif;
  color: #1d2329;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  content: "☯";
  position: absolute;
  display: block;
  width: 11px;
  height: 11px;
  font-size: 12px;
  line-height: 12px;
  top: 50%;
  left: 50%;
  margin-top: -6px;
  margin-left: -6px;
  -webkit-animation: rotatorInfinite 0.5s infinite 0s linear;
  -moz-animation: rotatorInfinite 0.5s infinite 0s linear;
  -o-animation: rotatorInfinite 0.5s infinite 0s linear;
  -ms-animation: rotatorInfinite 0.5s infinite 0s linear;
  animation: rotatorInfinite 0.5s infinite 0s linear;
}
.hide {
  display: none;
}
.zh-bulb,
.zh-bulb-inline,
.zh-bulb-inline-block {
  display: none !important;
}
.zh-power .zh-bulb {
  display: block !important;
}
.zh-power .zh-bulb-inline {
  display: inline !important;
}
.zh-power .zh-bulb-inline-block {
  display: inline-block !important;
}
.zh-power .zh-darkness {
  display: none !important;
}
.zh-reports {
  margin: 0 auto;
  max-width: report-page-width;
  padding: 20px 0 40px;
}
.js-show-when-loaded-error,
.js-show-when-loading,
.js-show-when-logged-in,
.js-show-when-logged-out,
.js-show-when-no-permission {
  display: none;
}
.js-loaded-error .js-show-when-loaded-error {
  display: block;
}
.js-loading .js-show-when-loading {
  display: block;
}
.js-logged-in .js-show-when-logged-in {
  display: block;
}
.js-logged-out .js-show-when-logged-out {
  display: block;
}
.zh-text-muted {
  color: #586069 !important;
}
.zh-loading-env {
  display: none;
}
.zhio .zhe-only {
  display: none;
}
.zhe .zhio-only {
  display: none;
}
body.zh-popup.zhe {
  border-bottom-color: #1d2229;
}
.zhe .zh-tooltip-container .zh-tooltip-branding {
  background-color: #1d2229;
}
.zh-popup.zhe .zh-btn {
  background: #1d2229;
}
.zhc-svg-icon rect {
  shape-rendering: geometricPrecision;
}
html {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Avenir", "Avenir Next LT W01 Bold", sans-serif;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  border-radius: 2px;
}
a {
  text-decoration: none;
  color: #1d2329;
}
p {
  margin-bottom: 1em;
}
.zh-oauth-message {
  margin-top: 55px;
}
.zh-menu-header {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background-color: #fff;
  color: #fff;
  padding: 1.25rem 1.25rem 0 1.25rem;
}
.zh-menu-header .zh-logo {
  height: 20px;
}
.zh-menu-header .zh-button {
  color: #888da5;
  padding: 0 7px;
  border-left: 1px solid #cacdda;
  font-size: 14px;
  font-weight: font-weight-semi;
}
.zh-menu-header .zh-button:hover {
  color: #cacdda;
}
.zh-btn {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-box;
  display: inline-flex;
  position: relative;
  padding: 6px 12px;
  font-size: 13px;
  text-align: center;
  color: #fff;
  background-color: #eee;
  background-image: -webkit-linear-gradient(#7282cd, #3e4b9e);
  background-image: -moz-linear-gradient(#7282cd, #3e4b9e);
  background-image: -o-linear-gradient(#7282cd, #3e4b9e);
  background-image: -ms-linear-gradient(#7282cd, #3e4b9e);
  background-image: linear-gradient(#7282cd, #3e4b9e);
  border: 1px solid #3e4b9e;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  position: relative;
  border-radius: var(--zh-border-radius);
}
.zh-btn:focus {
  outline: none;
}
.zh-btn:hover {
  background-image: -webkit-linear-gradient(#7282cd, #384288);
  background-image: -moz-linear-gradient(#7282cd, #384288);
  background-image: -o-linear-gradient(#7282cd, #384288);
  background-image: -ms-linear-gradient(#7282cd, #384288);
  background-image: linear-gradient(#7282cd, #384288);
}
.zh-btn:active {
  text-shadow: 0 1px 0 rgba(0,0,0,0.15);
  background-color: #3e4b9e;
  background-image: none;
}
.zh-btn[disabled],
.zh-btn.disabled {
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  -webkit-filter: alpha(opacity=60);
  -moz-filter: alpha(opacity=60);
  filter: alpha(opacity=60);
}
.disabled {
  background-color: #ddd;
}
.zh-support {
  padding-right: 7px;
}
.zh-menu-items {
  font-size: 14px;
  margin-left: auto;
}
.zh-menu-items a {
  outline: none;
}
.zh-menu-item {
  display: block;
  float: left;
}
.zh-menu-item:first-child .zh-button {
  border-left: none;
}
.zh-menu-item:last-child .zh-button {
  padding-right: 1px;
}
.zh-oauth-message {
  padding: 2em 0;
  text-align: center;
}
.zh-oauth-message .icon-github {
  font-size: 1.5em;
}
.messages-counter {
  font-size: 12px;
  margin-left: 5px;
}
#mark-all-as-read {
  display: none;
}
#mark-all-as-read a {
  font-size: 12px;
  border-bottom: solid 1px #1d2329;
}
#mark-all-as-read a:hover {
  border-bottom: solid 1px #3f4d9c;
}
.zh-menu-content {
  padding: 0.625rem;
  padding-bottom: 15px;
}
.zh-menu-content__item {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  font-size: 16px;
  padding: 0.375rem;
  color: #666;
  padding: 0.375rem;
  border: 1px solid transparent;
  border-radius: 2px;
  cursor: pointer;
  font-weight: 500;
  -webkit-box-align: end;
  -moz-box-align: end;
  -o-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: end;
  align-items: end;
}
.zh-menu-content__item:hover {
  background-color: #f4f4f4;
  border-color: #e9e9e9;
}
.zh-menu-content__item--disabled {
  cursor: default;
}
.zh-menu-content__item--disabled:hover {
  background-color: transparent;
  border-color: transparent;
}
.zh-menu-content__item .zh-menu-icon {
  margin-right: 0.625rem;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 0 0 24px;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
}
